@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

@layer utilities {
  .animate-marquee {
    animation: marquee 30s linear infinite;
  }
  .animate-spin-slow {
    animation: spin 20s linear infinite;
  }
  .animate-gradient {
    animation: gradient-xy 4s ease infinite;
    background-size: 200% 200%;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes gradient-xy {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
